services:
  spring-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: container-name
    ports:
      - "8080:8080"
    env_file:
      - create-spring-app.env # 최상위 디렉토리에 생성해 주세요.
    depends_on:
      - redis
    environment:
      - TZ=Asia/Seoul
  redis:
    image: 'redis:latest'
    ports:
      - '6379'
