services:
  spring-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: container-name
    ports:
      - "8080:8080"
    env_file:
      - env-file-name
    depends_on:
      - redis
    environment:
      - TZ=Asia/Seoul
  redis:
    image: 'redis:latest'
    ports:
      - '6379'
